<div class="mb-5">
  <h1>申請成為教師</h1>
</div>

<form action="/users/applyTeacher" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">課程介紹: </label>
    <input type="text" class="form-control"aria-describedby="emailHelp" 
    name="courseIntroduce" id="courseIntroduce">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">上課連結: </label>
    <input type="text" class="form-control"aria-describedby="emailHelp" name="courseUrl" id="courseUrl">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">教學風格: </label>
    <input type="text" class="form-control"aria-describedby="emailHelp" name="teachStyle" id="teachStyle">
  </div>

 <button type="submit" class="btn btn-primary">申請</button>

</form>