<h1 class="mb-5">編輯個人資料:</h1>

<form action="/users/:id?_method=PUT" method="post">
  <div class="mb-5">
    <label class="form-label" for="">
      名稱:
      <input class="form-control" type="text" name="name" value="{{loginUser.name}}">
    </label>
  </div>

  <div class="mb-5">
    <label class="form-label" for="">
      個人描述:
      <textarea class="form-control" name="introduction" rows="10" cols="80" >{{loginUser.introduction}}</textarea>
    </label>
  </div>
  <div class="mb-5">
    <button class="btn btn-warning" type="submit">編輯</button>
    <button class="btn btn-secondary" type="reset" value="Reset">重設
  </div>

</form>