<a href="/users/register">Register</a>

<a href="/users/login">Login</a>

<small>your token is {{token}}</small>

<p>you are {{user.name}}</p>

<p>locals {{loginUser.name}}</p>

<a href="/users/logout">Logout</a>